@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Black.eot');
	src: local('Raleway Black'), local('Raleway-Black'),
		url('../fonts/raleway/Raleway-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-Black.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-Black.woff') format('woff'),
		url('../fonts/raleway/Raleway-Black.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-Black.svg#Raleway-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-ExtraLight.eot');
	src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
		url('../fonts/raleway/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-ExtraLight.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-ExtraLight.woff') format('woff'),
		url('../fonts/raleway/Raleway-ExtraLight.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-ExtraLight.svg#Raleway-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-ExtraLightItalic.eot');
	src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
		url('../fonts/raleway/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-ExtraLightItalic.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-ExtraLightItalic.woff') format('woff'),
		url('../fonts/raleway/Raleway-ExtraLightItalic.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-BlackItalic.eot');
	src: local('Raleway Black Italic'), local('Raleway-BlackItalic'),
		url('../fonts/raleway/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-BlackItalic.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-BlackItalic.woff') format('woff'),
		url('../fonts/raleway/Raleway-BlackItalic.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-BlackItalic.svg#Raleway-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Bold.eot');
	src: local('Raleway Bold'), local('Raleway-Bold'),
		url('../fonts/raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-Bold.woff') format('woff'),
		url('../fonts/raleway/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-ThinItalic.eot');
	src: local('Raleway Thin Italic'), local('Raleway-ThinItalic'),
		url('../fonts/raleway/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-ThinItalic.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-ThinItalic.woff') format('woff'),
		url('../fonts/raleway/Raleway-ThinItalic.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-ThinItalic.svg#Raleway-ThinItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Medium.eot');
	src: local('Raleway Medium'), local('Raleway-Medium'),
		url('../fonts/raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-Medium.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-Medium.woff') format('woff'),
		url('../fonts/raleway/Raleway-Medium.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-SemiBoldItalic.eot');
	src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
		url('../fonts/raleway/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-SemiBoldItalic.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-SemiBoldItalic.woff') format('woff'),
		url('../fonts/raleway/Raleway-SemiBoldItalic.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-ExtraBold.eot');
	src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
		url('../fonts/raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-ExtraBold.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-ExtraBold.woff') format('woff'),
		url('../fonts/raleway/Raleway-ExtraBold.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-ExtraBold.svg#Raleway-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-SemiBold.eot');
	src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
		url('../fonts/raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-SemiBold.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-SemiBold.woff') format('woff'),
		url('../fonts/raleway/Raleway-SemiBold.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Italic.eot');
	src: local('Raleway Italic'), local('Raleway-Italic'),
		url('../fonts/raleway/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-Italic.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-Italic.woff') format('woff'),
		url('../fonts/raleway/Raleway-Italic.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-Italic.svg#Raleway-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Regular.eot');
	src: local('Raleway'), local('Raleway-Regular'),
		url('../fonts/raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-Regular.woff') format('woff'),
		url('../fonts/raleway/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Light.eot');
	src: local('Raleway Light'), local('Raleway-Light'),
		url('../fonts/raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-Light.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-Light.woff') format('woff'),
		url('../fonts/raleway/Raleway-Light.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-Thin.eot');
	src: local('Raleway Thin'), local('Raleway-Thin'),
		url('../fonts/raleway/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-Thin.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-Thin.woff') format('woff'),
		url('../fonts/raleway/Raleway-Thin.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-Thin.svg#Raleway-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-BoldItalic.eot');
	src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
		url('../fonts/raleway/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-BoldItalic.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-BoldItalic.woff') format('woff'),
		url('../fonts/raleway/Raleway-BoldItalic.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-BoldItalic.svg#Raleway-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-MediumItalic.eot');
	src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
		url('../fonts/raleway/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-MediumItalic.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-MediumItalic.woff') format('woff'),
		url('../fonts/raleway/Raleway-MediumItalic.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-MediumItalic.svg#Raleway-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-ExtraBoldItalic.eot');
	src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
		url('../fonts/raleway/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-ExtraBoldItalic.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/raleway/Raleway-ExtraBoldItalic.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic') format('svg');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/raleway/Raleway-LightItalic.eot');
	src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
		url('../fonts/raleway/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/raleway/Raleway-LightItalic.woff2') format('woff2'),
		url('../fonts/raleway/Raleway-LightItalic.woff') format('woff'),
		url('../fonts/raleway/Raleway-LightItalic.ttf') format('truetype'),
		url('../fonts/raleway/Raleway-LightItalic.svg#Raleway-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

*{
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

header, section, footer {
  width: 100%;
  display: block;
  padding: 20px;
}

.container {
  width: 1151px;
  margin: 0 auto;
}
.row {
  position: relative;
}
.row::after {
  content: '';
  display: block;
  clear: both;
}

.col {
  float: left;
}


/* HEADER */
header {
  background: #000;
  padding: 10px;
  color: #fff;
}

header .row{
  height: 21px;
}
header nav.col {
  float: right;
}

header nav.col li{
  display: inline-block;
  padding: 4px 0;
}

header nav.col li:first-of-type {
  position: absolute;
  right: 250px;
}

header nav.col li:nth-of-type(2) {
  position: absolute;
  right: 126px;
}

header nav.col li:nth-of-type(3) {
  position: absolute;
  right: 10px;
}

header p.col {
  padding: 4px 4px 4px 0;
  font-size: 16px;
  text-transform: uppercase;
}

header p.col > span {
  color: #2fcaaf;
  font-weight: 600;
}

header nav.col a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

/* SEKCJA FOTEL I OPIS */
body > section:first-of-type {
  background: linear-gradient(180deg ,#FFFFFF, #D1CDD7);
  height: 550px;
}

body > section:first-of-type .col:nth-of-type(1){
  width: 40%;
}

body > section:first-of-type .col:nth-of-type(2){
  width: 60%;
}

body > section:first-of-type img{
  width: 139%;
  max-width: 160%;
  margin-top: 58px;
  margin-left: -43px;
}

body > section:first-of-type h1{
  font-size: 44px;
  color: #9d9c9e;
  margin-top: 130px;
  margin-left: 100px;
  text-transform: uppercase;
}

body > section:first-of-type h1>span{
  color: #5ecfbc;
}


body > section:first-of-type p{
  font-size: 17px;
  color: #8b8a8c;
  margin-top: 30px;
  margin-left: 66px;
  text-align: center;
  width: 500px;
  letter-spacing: -0.5px;
  padding-right: 54px;
  padding-top: 1px;
  line-height: 23px;
}

body > section:first-of-type a{
  letter-spacing: 0.5px;
  margin-left: 157px;
  margin-top: 32px;
  display: block;
  height: 57px;
  width: 286px;
  font-size: 25px;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  color: #fff;
  background: #91d4cc;
  border-radius: 10px;
  text-transform: uppercase;
  padding-left: 33px;
}

body > section:first-of-type .row > :first-child{
  color: #5ecfbc;
  font-size: 77px;
  position: absolute;
  left: 5px;
  top: 250px;
  margin: 0;
  padding: 0;
  width: 0;
}

body > section:first-of-type .row > p:nth-of-type(2){
  color: #5ecfbc;
  font-size: 77px;
  position: absolute;
  right: 54px;
  top: 248px;
  padding: 0;
  margin: 0;
  width: 0px;
}
/* === SEKCJA Z KRZESLAMI ===*/

.chairFotos .box {
  width: 33%;
  position: relative;
}
.chairFotos .box:first-of-type img{
  width: 358px;
  margin-left: -3px;
  margin-top: 11px;
}

.chairFotos .box:first-of-type div{
  width: 358px;
  background: rgba(255, 255, 255, 0.4);
  height: 69px;
  position: absolute;
  bottom: 20px;
  left: -3px;
}

.chairFotos .box:first-of-type p {
  width: 148px;
  position: absolute;
  bottom: 44px;
  padding-left: 3px;
  left: 13px;
  border-bottom: 9px solid #5cc7ad;
  font-size: 18px;
  font-weight: 500;
}

.chairFotos .box:nth-of-type(2) img {
  width: 358px;
  margin-left: 7px;
  margin-top: 10px;
}

.chairFotos .box:nth-of-type(2) div {
  width: 358px;
  background: rgba(255, 255, 255, 0.4);
  height: 69px;
  position: absolute;
  bottom: 19px;
  left: 9px;
}


.chairFotos .box:nth-of-type(2) p {
  width: 150px;
  position: absolute;
  bottom: 43px;
  left: 22px;
  border-bottom: 9px solid #5cc7ad;
  font-size: 18px;
  letter-spacing: -0.35px;
  font-weight: 500;
}

.chairFotos .box:nth-of-type(3) {
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-left: 14px;
  width: 368px;
  margin-top: 10px;
  height: 275px;
}

.chairFotos .box:nth-of-type(3) p:first-of-type {
  text-transform: initial;
  margin-top: 29px;
  margin-left: 23px;
  word-spacing: 0px;
  letter-spacing: 0.5px;
  border-bottom: 8px solid #80e9d4;
  padding: 1px;
  width: 150px;
  font-weight: 500;
}

.chairFotos .box:nth-of-type(3) p:nth-of-type(2) {
  color: silver;
  padding: 16px 23px;
  letter-spacing: -0.5px;
  line-height: 22px;
  word-spacing: 0.9px;
}

.chairFotos .box:nth-of-type(3) p:nth-of-type(3) {
  color: silver;
  padding: 7px 23px;
  letter-spacing: -0.6px;
  line-height: 22px;
  word-spacing: 0.9px;
}

/* === CENNIK === */

.borderPrice {
  background: #f8f8f8;
  margin-top: 55px;
  padding-bottom: 70px;
}

.priceBoard {
  width: 33%;
  padding-left: 20px;
  padding-right: 20px;
}

.borderPrice .row:first-of-type p:first-of-type {
  color: #aeaeae;
  margin-top: 27px;
  font-size: 23px;
  text-transform: uppercase;
  border-bottom: 9px solid #80ead5;
  margin-bottom: 14px;
  width: 347px;
  margin-left: -3px;
  padding-bottom: 7px;
}

/*First board*/


.priceBoard:first-of-type {
  width: 355px;
  height: 540px;
  margin-top: 70px;
  margin-left: -2px;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 1px 0 grey
}

.priceBoard:first-of-type > div:first-child {
  background: white;
  margin-left: 127px;
  width: 59px;
  height: 60px;
  margin-top: -42px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}

.priceBoard:first-of-type > div:nth-of-type(2){
  background: #e0e0e0;
  margin-top: -44px;
  margin-left: 142px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
}

.priceBoard:first-of-type > div:nth-of-type(3) {
  background: white;
  height: 138px;
  width: 140px;
  margin-left: 86px;
  margin-top: 29px;
  border-radius: 50%;
  border: 1.5px solid #d0d0d0;
  position: relative;
}

.priceBoard:first-of-type > div:nth-of-type(3) > p {
  color: #dfdfdf;
  font-size: 49px;
  font-weight: 800;
  margin-left: 36px;
}

.priceBoard:first-of-type > div:nth-of-type(3) > p span {
  color: lightgrey;
  font-size: 25px;
  margin-bottom: 69px;
  vertical-align: text-top;
  font-weight: 500;
}

.priceBoard:first-of-type > div:nth-of-type(3) > span {
  color: #e3e3e3;
  position: relative;
  left: 28px;
  top: 4px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
}


.priceBoard:first-of-type p:first-of-type {
  color: #75dfca;
  text-transform: uppercase;
  margin-left: 89px;
  margin-top: 25px;
  font-size: 26px;
  letter-spacing: -0.4px;
  font-weight: 300;
}

.priceBoard:first-of-type ul:first-of-type {
  padding-top: 37px;
  font-size: 27px;
  text-align: center;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #cacaca;
  width: 354px;
  margin-left: -21px;
}

.priceBoard:first-of-type li:nth-of-type(1) {
  background: #F1F1F1;
}

.priceBoard:first-of-type li:nth-of-type(2) {
  background: #F8F8F8;
}

.priceBoard:first-of-type a:first-of-type {
  text-decoration: none;
  display: inline-block;
  width: 133px;
  margin-top: 123px;
  margin-left: 92px;
  text-align: center;
  height: 38px;
  padding-top: 8px;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  background: #80ead5;
  letter-spacing: 0.5px;
}

/*Second board*/

.priceBoard:nth-of-type(2) {
  width: 358px;
  height: 543px;
  margin-left: 34px;
  margin-top: 68px;
  background: #75DFCA;
  position: relative;
}

.priceBoard:nth-of-type(2) > div:first-child {
  background: #80E5D2;
  position: absolute;
  left: 150px;
  top: -39px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
}

.priceBoard:nth-of-type(2) > div:nth-of-type(2) {
  background: #B7EDE2;
  position: absolute;
  left: 164px;
  top: -24px;
  height: 28px;
  border-radius: 50%;
  width: 28px;
}

.priceBoard:nth-of-type(2) p:first-of-type {
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  margin-left: 62px;
  margin-top: 32px;
  letter-spacing: -0.95px;
  font-weight: 300;
}

.priceBoard:nth-of-type(2) > div:nth-of-type(3) {
  background: #F1F1F1;
  position: absolute;
  top: 90px;
  left: 110px;
  width: 138px;
  height: 136px;
  border-radius: 50%;
}

.priceBoard:nth-of-type(2) > div:nth-of-type(3) > p {
  color: #79e8cd;
  font-weight: 900;
  font-size: 48px;
  position: absolute;
  left: -20px;
}

.priceBoard:nth-of-type(2) > div:nth-of-type(3) > p > span {
  color: #3adaba;
  font-size: 22px;
  position: absolute;
  left: 50px;
  font-weight: bolder;
}

.priceBoard:nth-of-type(2) > div:nth-of-type(3) > span {
  position: absolute;
  top: 90px;
  right: 32px;
  text-transform: uppercase;
  font-weight: 600;
  color: #3adaba;
}

.priceBoard:nth-of-type(2) ul:first-of-type {
  padding-top: 203px;
  font-size: 27px;
  text-align: center;
  line-height: 50px;
  letter-spacing: -0.5px;
  color: #cacaca;
  width: 354px;
  margin-left: -18px;
}

.priceBoard:nth-of-type(2) li:nth-of-type(2n+1) {
  background: #fcfcfc;
}

.priceBoard:nth-of-type(2) li:nth-of-type(2) {
  background: #f8f8f8;
}

.priceBoard:nth-of-type(2) a:first-of-type {
  position: absolute;
  left: 114px;
  bottom: 19px;
  width: 135px;
  height: 37px;
  border-radius: 9px;
  text-align: center;
  padding-top: 8px;
  text-decoration: none;
  color: #3adaba;
  background: #fcfcfc;
  font-size: 17px;
  text-transform: uppercase;
}

/*Third board */
.priceBoard:nth-of-type(3) {
  width: 357px;
  height: 542px;
  margin-top: 69px;
  margin-left: 35px;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 1px 0 grey;
}

.priceBoard:nth-of-type(3) > div:first-child {
  background: white;
  margin-left: 127px;
  width: 59px;
  height: 60px;
  margin-top: -42px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}

.priceBoard:nth-of-type(3) > div:nth-of-type(2){
  background: #e0e0e0;
  margin-top: -44px;
  margin-left: 142px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
}

.priceBoard:nth-of-type(3) p:first-of-type {
  color: #75dfca;
  text-transform: uppercase;
  margin-left: 61px;
  margin-top: 25px;
  font-size: 26px;
  letter-spacing: -1px;
  font-weight: 300;
}

.priceBoard:nth-of-type(3) > div:nth-of-type(3) {
  background: white;
  height: 138px;
  width: 140px;
  margin-left: 86px;
  margin-top: 29px;
  border-radius: 50%;
  border: 1.5px solid #d0d0d0;
  position: relative;
}

.priceBoard:nth-of-type(3) > div:nth-of-type(3) > p {
  color: #dfdfdf;
  font-size: 49px;
  font-weight: 800;
  margin-left: 18px;
  padding-top: 3px;
}

.priceBoard:nth-of-type(3) > div:nth-of-type(3) > p span {
  color: lightgrey;
  font-size: 23px;
  vertical-align: text-top;
  font-weight: 500;
  position: absolute;
  top: 33px;
}

.priceBoard:nth-of-type(3) > div:nth-of-type(3) > span {
  color: #e3e3e3;
  position: relative;
  left: 28px;
  top: 4px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
}

.priceBoard:nth-of-type(3) ul:first-of-type {
  padding-top: 37px;
  font-size: 27px;
  text-align: center;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #cacaca;
  width: 354px;
  margin-left: -21px;
}

.priceBoard:nth-of-type(3) li:nth-of-type(2n+1) {
  background: #F1F1F1;
}

.priceBoard:nth-of-type(3) li:nth-of-type(2n) {
  background: #F8F8F8;
}

.priceBoard:nth-of-type(3) a:first-of-type {
  text-decoration: none;
  display: inline-block;
  width: 133px;
  margin-top: 28px;
  margin-left: 94px;
  text-align: center;
  height: 38px;
  padding-top: 8px;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  background: #80ead5;
  letter-spacing: 0.5px;
}

/* Form section */

.contactForm .row:first-of-type p{
  font-size: 25px;
  text-transform: uppercase;
  padding-top: 14px;
  padding-left: 5px;
  letter-spacing: -1px;
  color: black;
  border-bottom: 9px solid #80e5d0;
  padding-bottom: 6px;
  width: 350px;
  margin-bottom: 27px;
}

form[name='contact']{
  display: block;
}

form[name='contact'] input{
  border: 1px solid #c6f4e8;
  display: block;
  margin-top: 20px;
  margin-left: 3px;
  width: 689px;
  height: 72px;
  font-size: 35px;
  padding-left: 16px;
  margin-bottom: 30px;
}

form[name='contact'] textarea {
  border: 1px solid #c6f4e8;
  margin-top: -4px;
  margin-left: 3px;
  width: 687px;
  height: 205px;
  resize: none;
  padding: 11px 16px;
  font-size: 40px;
}

form[name='contact'] ::placeholder {
  color: #E4E4E4;
  font-weight: 100;
  text-transform: capitalize;
  letter-spacing: -1px;
}

.form img:first-of-type {
  margin-left: 80px;
  width: 285px;
  height: 230px;
  margin-top: -11px;
}

.form div > img:first-child {
  width: 45px;
  height: 38px;
  position: absolute;
  left: -80px;
  bottom: 5px;
}

.form {
  position: relative;
}

.form div {
  width: 52px;
  height: 52px;
  border: 1px solid #c7f5e7;
  position: absolute;
  left: 61px;
  top: 255px;
}

.form p {
  color: #e3e3e3;
  position: absolute;
  bottom: -85px;
  left: 127px;
  font-size: 21px;
  width: 300px;
  word-spacing: 1px;
  line-height: 23px;
  padding: 2px 0px;
}

/*.form a {
  color: white;
  position: absolute;
  bottom: -202px;
  left: 60px;
  background: #80e3cf;
  width: 372px;
  height: 78px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 18px;
  font-size: 37px;
  font-weight: 600;
  padding-left: 24px;
  letter-spacing: -0.5px;
}*/

input[type=submit] {
  color: white;
  position: absolute;
  bottom: -202px;
  left: 60px;
  background: #80e3cf;
  width: 372px;
  height: 78px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 18px;
  font-size: 37px;
  font-weight: 600;
  padding-left: 24px;
  letter-spacing: -0.5px;
  border:none;
}

/* Footer */

footer {
  margin-top: 50px;
  position: relative;
}

footer .col:first-of-type p{
  color: #d0d0d0;
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  padding-left: 50px;
  letter-spacing: 0.45px;
}

footer .col:nth-of-type(2) img:first-of-type {
  position: absolute;
  right: 413px;
  top: -6px;
  height: 40px;
  width: 40px;
}

footer .col:nth-of-type(2) img:nth-of-type(2) {
  position: absolute;
  right: 372px;
  top: -6px;
  height: 40px;
  width: 40px;
}

footer .col:nth-of-type(2) img:nth-of-type(3) {
  position: absolute;
  right: 329px;
  top: -6px;
  height: 40px;
  width: 40px;
}

footer .col:nth-of-type(2) img:nth-of-type(4) {
  position: absolute;
  right: 287px;
  top: -6px;
  height: 40px;
  width: 40px;
}

footer .col:nth-of-type(3) p {
  position: absolute;
  right: 65px;
  top: 7px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #cecece;
}

footer .col:nth-of-type(3) p > span {
  font-weight: 800;
  color: #AFB1B2;
}
